@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans";
}


/* Para navegadores basados en WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 2px; /* Ancho del scroll */

}

::-webkit-scrollbar-track {
  background: transparent;
}


/* Para Firefox */
html {
  scrollbar-width: thin; /* Scrollbar delgada */
  scrollbar-color: rgb(105, 49, 194); /* Pulgar casi transparente y pista transparente */
}
